<!doctype html>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <title>Deutsche Digitale Bibliothek | IIIF Presentation API 3.0-Manifeste</title>
        <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" rel="stylesheet">
        <style>
            body {
                background: #EC0A3C;
                background: linear-gradient(276.83deg, #EC0A3C, #A5003B);
                min-height: 100vh;
            }
            .form-control::placeholder {
                color: #ccc;
            
            }
            .image-parent {
                max-height: 80px;
            }</style>
    </head>
    <body>
        <div class="container">
            <div class="row my-5">
                <div class="col-lg-12 mx-auto text-white text-center">
                    <h1 class="display-4">IIIF Presentation API 3.0</h1>
                    <p class="lead mb-0">Mit diesem Dienst können DDB-Objekte zu IIIF Presentation API 3.0-Manifeste umgewandelt werden.</p>
                    <p class="lead mb-0"> Außerdem können die IIIF-Manifeste in den verschiedenen Viewer betrachtet werden.</p>
                    <p class="lead">Implementierung auf <a class="text-white" href="https://github.com/mbuechner/iiif" target="_blank"><u>GitHub</u></a>. </p>
                </div>
            </div>
            <div class="row mb-3">
                <div class="p-1 bg-light rounded shadow-sm mb-4">
                    <div class="input-group">
                        <button aria-expanded="false" class="btn btn-light dropdown-toggle rounded-start col col-12 col-xl-3 mx-auto" data-bs-toggle="dropdown" id="displayType" type="button">IIIF Presentation API 3.0 Manifest</button>
                        <ul class="dropdown-menu dropdown-menu-start col col-12 col-xl-3 mx-auto" id="displayTypeDropdown">
                            <li>
                                <a class="dropdown-item" data-href="">IIIF Presentation API 3.0 Manifest</a>
                            </li>
                            <li>
                                <a class="dropdown-item" data-href="https://projectmirador.org/embed/?iiif-content=">Mirador 3</a>
                            </li>
                            <li>
                                <a class="dropdown-item" data-href="https://uv-v4.netlify.app/#?manifest=">Universal Viewer 4</a>
                            </li>
                            <li>
                                <a class="dropdown-item" data-href="https://samvera-labs.github.io/clover-iiif/?iiif-content=">Clover</a>
                            </li>
                            <li>
                                <a class="dropdown-item" data-href="https://ncsu-libraries.github.io/annona/tools/#/display?viewtype=iiif-rangestoryboard&amp;settings=%7B%22fullpage%22%3Atrue%7D&amp;url=">Annona</a>
                            </li>
                            <li>
                                <a class="dropdown-item" data-href="https://presentation-validator.iiif.io/validate?version=3.0&amp;url=">Presentation API Validator</a>
                            </li>
                        </ul>
                        <input aria-label="Text input with dropdown button" class="form-control col col-12 col-xl-8 mx-auto" id="input" placeholder="https://www.deutsche-digitale-bibliothek.de/item/CRHMM44XWLG7ZNH55BQ5GSAHTYLXJ7Z4" type="text">
                        <a class="btn bg-light rounded-end disabled col col-12 col-xl-1 mx-auto" data-href="" href="#" id="los" role="button" target="_blank">Los!</a>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12 col-xxl-10 mx-auto">
                    <div class="list-group">
                        <div id="mylistgroupitems"></div>
                    </div>
                </div>
            </div>
        </div>
        <script crossorigin="anonymous" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
        <script crossorigin="anonymous" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
        <script crossorigin="anonymous" integrity="sha512-HYiNpwSxYuji84SQbCU5m9kHEsRqwWypXgJMBtbRSumlx1iBB6QaxgEBZHSHEGM+fKyCX/3Kb5V5jeVXm0OglQ==" src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/4.1.0/mustache.min.js"></script>
        <script>
            const items = {
                "items":[ {
                    "title": "Gesammt-Probe der Schriftgiesserei Emil Berger",
                    "link": "N57I3YRBVW73LLC7V6W5Z6PDHJAEMXCP",
                    "uuid": "89a2cd82-6e74-476d-9900-d24d5cff56ae",
                    "text": "Ein in LIDO digitalisiertes Buch mit 469 Seiten (!). Gut geeingnet für die Anzeige in den IIIF-Viewern."
                },{
                    "title": "Symphonie Nr. 5 c-Moll Op. 67 ",
                    "status": "warning",
                    "link": "SDD2UHI6DHFQT6MOWQBQEWJRECTUCWGW",
                    "uuid": "ec6bbc6f-cad3-425b-83d2-5132bb7b9841",
                    "text": "Beethovens 5. in vier Audiodateien. Leider spielt der Universal Viewer die Audio-Daten nicht ab, weil das Manifest die „duration“ nicht enthält. Diese Information wird aktuell nicht in der DDB gespeichert."
                }, {
                    
                    "title": "Schatzfund von Palaiokastron – Teil eines Kolliers (Smaragd in Goldkastenfassung)",
                    "status": "",
                    "link": "XL5HT36MHHYBPY7SGUT7YUJBJMPVSUII",
                    "uuid": "70c193db-6063-4be5-bc32-db3342f9218c",
                    "text": "Ein Museumsobjekt mit umfangreichen Metadaten."
                }, {
                    
                    "title": "Rathaus, Bonn-Poppelsdorf. Monatskonkurrenz Juli 1894: Aufriss Straßenansicht (Kirschenallee) 1:150; Maßstabsleiste",
                    "status": "",
                    "link": "TLCKVDW6HU7KHWM6I4VIE3VZ7R2XPXIY",
                    "uuid": "db40f60b-6f77-48de-93f6-91a7c8e3d007",
                    "text": "Ein Museumsobjekt einer langen Bildunterschrift unter einem hochaufgelösten Digtalisat."
                }, {
                    
                    "title": "Blaues Pferdchen, Kinderbild ",
                    "status": "",
                    "link": "CZNOZMUMWB6HNRDKI445X3Q6WNC63TFL",
                    "uuid": "45931cb6-3291-43da-bea2-9693250e176d",
                    "text": "Ein Museumsobjekt mit 15 Digitalisaten und umfangreichen Metadaten."
                }, {
                    
                    "title": "Münze, As, 228 ",
                    "status": "",
                    "link": "ZM4ADJZTKFV2IX2HEGPVMIBPMHAQOGR4",
                    "uuid": "bc21cf6d-a0d2-40a9-8040-33bd74116b15",
                    "text": "Ein Museumsobjekt mit einem hochaufgelösten Digitalisat."
                }, {
                    
                    "title": "Berliner Volksblatt ",
                    "status": "",
                    "link": "IGBWWKK6ACCZAM5SMI34F6GEQO5RNXUG",
                    "uuid": "5575c301-8c6d-4b5d-96d4-adb8e205d737",
                    "text": "Zeitung"
                }, {
                    
                    "title": "Bd. 1: Kinder und Hausmärchen. ",
                    "status": "",
                    "link": "KPPFXEP6DRPCK6DAOL22RPURI5MHF7RC",
                    "uuid": "bf00e4f3-d280-4919-96f8-a5faa0945583",
                    "text": "Band"
                }, {
                    
                    "title": "Kronberger Automobil-Jugendrennen (18.8.1907)",
                    "status": "",
                    "link": "GHG4AHXZLSWKI5WFVOGIHZZQU2C5RQNN",
                    "uuid": "dcd94936-77fa-4b51-96d9-eaa498161dcd",
                    "text": "Ein Video"
                }, {
                    
                    "title": "Die Abenteuer des Prinzen Achmed (1923-1926)",
                    "status": "",
                    "link": "FEH5FOLF4MDDZIEER6AA7N3SMASCSYBM",
                    "uuid": "563a0d9d-76d9-4849-8982-cb583e510e71",
                    "text": "Ein Video"
                }, {
                    
                    "title": "Lachtaube | Streptopelia risoria - Ruf ",
                    "status": "",
                    "link": "EUO5IXF72NFMHD7UGD3X7AWQXNTQSPTK",
                    "uuid": "a1a9bd51-947f-4fe9-a2d8-40986261b30c",
                    "text": "Ein Audio"
                }, {
                    
                    "title": "Dance song, Fieldrecording Yunnan, China 2018",
                    "status": "",
                    "link": "XXJ7DRMCMYAO6UY434KUHQLEQ23W6MF7",
                    "uuid": "343a6935-48b1-49e0-899c-9af9cbca8f6c",
                    "text": "Ein Video"
                }, {
                    
                    "title": "Konischer großer Becher von Butzow",
                    "status": "",
                    "link": "LN7D6DTSLX7XU4TULJHAHREPJA3MDYTC",
                    "uuid": "b97199f0-3a5e-4c5a-839a-6f3527c1eebb",
                    "text": "3D-Objekte"
                }, {
                    
                    "title": "Christian Möllinger, Bodenstanduhr mit Flötenwerk, Anfang 19. Jahrhundert, Inv. Nr. II 61/151 J ",
                    "status": "",
                    "link": "GJS5MQFEZENWD7S2IX4LUKYPWQKMJ5BH",
                    "uuid": "5c23507d-a0e4-4b06-85ed-fb663753ba6a",
                    "text": "Bilder mit einer Audio-Datei."
                }, {
                    
                    "title": "CIL XV 6160, Zinkograph",
                    "status": "",
                    "link": "2NGUCS22WFYDLCOUUWZWJ6BDJQT5MNH7",
                    "uuid": "2bc086df-5c6d-456a-8e24-7a632f3d9b27",
                    "text": "Ein hochaufgelöstes Bild"
                }, {
                    
                    "title": "Inv. 01451 + P.Michael. 52, Köln, Papyrussammlung",
                    "status": "",
                    "link": "NIHZBW7QZS352TCBKRUQPXPO2LGFSFJN",
                    "uuid": "e5d84eea-24e9-4574-8d36-8856b66d2bdb",
                    "text": "Zwei hochaufgelöste Fotos aus der Papyrussammlung."
                }, {
                    
                    "title": "Flöte",
                    "status": "",
                    "link": "UT7QCBPP626TE3HTJDMJN7HVJ22IUEEO",
                    "uuid": "c6f53bd0-2f2a-4f24-a9b3-f7f812135c65",
                    "text": "Sechs hochaufgelöste Fotos einer Flöte."
                }, {
                    
                    "title": "Träume / von Richard Wagner",
                    "status": "warning",
                    "link": "7PQO65ASPKENCHEOMMQLLE3INGF5NRYV",
                    "uuid": "233db8d7-9460-4585-91ab-4d00b0a2f890",
                    "text": "Zwei Audiodateien mit Schallplattencover. Die Cover werden in der DDB nicht extra angezeigt und als Platzhalterbild für die Audio-Dateien benutzt. IIIF sieht vor, dass die Dauer der Audiodateien im Manifest angegeben werden. Diese Information liegt in der DDB nicht vor, entsprechend kann z.B. der universalviewer die Daten nicht korrekt anzeigen."
                }, {
                    
                    "title": "Julius Neubronner zaubert",
                    "status": "warning",
                    "link": "UODH7ABRU3KEFW4W3LTX2EYKOD6UKANO",
                    "uuid": "937976e0-5072-4f18-9fb0-4c19cf99041d",
                    "text": "Ein Video. Das Video hat zusätzlich ein Still, das in den IIIF-Manifesten und im Gegensatz zum DDB-Portal angezeigt wird. Der Universal Viewer benötigt zwingen die Spieldauer eines Videos. Diese Information kann von der DDB nicht zur Verfügung gestellt werden, entsprechend funktioniert die Anzeige von Video/ Audio im Universal-Viewer nicht korrekt."
                }, {
                    
                    "title": "Drehbuch (2. Fassung, Auszug), mit handschriftlichen Korrekturen von Artur Brauner.",
                    "status": "warning",
                    "link": "D6EKHXZC454ZLGAURLN6T5O7WBEEQRI3",
                    "uuid": "2695e3da-a40a-4a09-b8b1-2f5b23e0f93b",
                    "text": "Eine PDF-Datei mit Vorschaubild. PDFs werden aktuell nur vom Universal Viewer unterstützt. Der Mirador 3 Viewer zeigt z.B. nur eine weiße Seite an."
                }, {
                    
                    "title": "Eingabe von Berichten und Gesuchen durch den Galerieinspektor Stassen und den Galeriedirektor Zoll sowie Erlasse des Oberhofmarschallamts und der Großherzoglich Badischen Intendanz sämtlicher Kunst-Cabinette",
                    "status": "",
                    "link": "IRMHSA4Q6RXQVYADHYNIQNVE53T6JREJ",
                    "uuid": "8ce3ca07-1fcb-4d53-8a40-661eb94f4693",
                    "text": "Eine 106-seitige Archivalie. Das Laden dauert länger, weil für jedes Digitalisat die maximale Auflösung über den IIIF Image-Dienst herausgefunden werden muss."
                }, {
                    
                    "title": "Rad (2001)",
                    "status": "danger",
                    "link": "F3WJONMF6NXB3IJQLRYV5LR67KDPMQTA",
                    "uuid": "70f8f639-6689-41a4-9542-83a866d155ca",
                    "text": "Vimeo-Videos können in IIIF nicht repräsentiert werden. Entsprechend zeigt keiner der Viewer diese an."
                }, {
                    
                    "title": "Auriga (1967), Frachtschiff, Argo Reederei Richard Adler & Söhne, Bremen, Bau-Nr. 1140",
                    "status": "",
                    "link": "TTNVQWVXY3AKILUHHULXB5H2ZHZGEKOO",
                    "uuid": "475edf69-a029-46cb-a165-c331a59e02a6",
                    "text": "Ein hochaufgelöstes Digitalisat aus der Peter Tamm Sen. Stiftung."
                }, {
                    
                    "title": "Der Schimmelreiter oder Unsere Welt vom Ende her denken",
                    "status": "warning",
                    "link": "QCWBCVL6F64T6PHGAUCIFC57CWUC7YXV",
                    "uuid": "b8f008da-77c0-4361-939e-dcb59e53e5f5",
                    "text": "Eine Bild-, eine Video- und sechs Audio-Dateien."
                }, {
                    
                    "title": "Von den verschiedenen Racen der Menschen : zur Ankündigung der Vorlesungen der physischen Geographie im Sommerhalbenjahre 1775",
                    "status": "",
                    "link": "D7CTTZ55NCSYJMZFBOAEE5PSS2PVODZT",
                    "uuid": "326b434c-41cb-433e-bd93-47992c7a89c2",
                    "text": "Monographie"
                }, {
                    
                    "title": "Ein Trinkspruch des Bruders Eberhard auf das Vaterland bei der Tafelloge. am 20.1.1921.",
                    "status": "",
                    "link": "C4OICKVZCLE3E2HVAQGEVKK6MOGJOLKV",
                    "uuid": "ff340c05-7cfa-4934-a9d7-19015a70f8ef",
                    "text": "Abschnitt"
                }, {
                    
                    "title": "Kaiserlicher Und Königlicher, Wie auch Erz-Herzoglicher, Und Dero Residenz-Stadt, Wien, Staats- und Stands-Calender / Auf das Jahr M. DCCXXXV",
                    "status": "",
                    "link": "M3FDWSLR53SH7A25HS34Z5AVEYMYLSZV",
                    "uuid": "012c4818-e0d0-4c98-a480-b31debb2e685",
                    "text": "Heft"
                }, {
                    
                    "title": "Abtheilung 2: Fortgeseztes Altes und Neues Berlin : Darinnen die Historie der Kirchen zu Marien, Petri, im grauen Kloster, der Garnison, auf dem Fridrichswerder, Dorotheen- und Fridrichsstadt, wie auch der Hospitäler, Waysenhäuser und Gymnasiorum in Berlin von ihrem...",
                    "status": "",
                    "link": "FNY2WQQOGN4ZV6DJIADNKWFWXH2F73HT",
                    "uuid": "c3844b34-02f5-4b59-a0f8-c25da4504c33",
                    "text": "Band"
                }]
            };
            
            const template = ' \
            {{#items}} \
            <a class="list-group-item {{#status}}list-group-item-{{status}} {{/status}}d-flex justify-content-between align-items-center" href="https://www.deutsche-digitale-bibliothek.de/item/{{link}}"> \
            <div> \
            <div class="fw-bold">{{title}}</div> \
            <div class="row small"><div class="col-12 mb-1 text-break">https://www.deutsche-digitale-bibliothek.de/item/{{link}}</div><div class="col-12 text-muted">{{text}}</div></div> \
            </div> \
            <img alt="quixote" class="img-fluid image-parent" src="https://iiif.deutsche-digitale-bibliothek.de/image/2/{{uuid}}/full/!116,87/0/default.jpg"> \
            </a> \
            {{/items}}';
            
            $(document).ready(function () {
                function valueChanged() {
                    const url = window.location.href.endsWith("/") ? window.location.href: window.location.href + "/";
                    const string = $("#input").val();
                    const regexp = new RegExp("^https:\/\/www(-[Qq][12])?\.deutsche-digitale-bibliothek\.de\/item\/([ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789]{32})$", "g");
                    const match = regexp.exec(string);
                    if (match !== null && typeof match[1] !== "undefined" && typeof match[2] !== "undefined") {
                        if ($("#los").attr("data-href").length === 0) {
                            $("#los").attr("href", url + match[2] + "?system=" + match[1].substring(1));
                        } else {
                            $("#los").attr("href", $("#los").attr("data-href") + encodeURIComponent(url + match[2] + "?system=" + match[1].substring(1)));
                        }
                        $("#los").removeClass("disabled");
                    } else if (match !== null && typeof match[2] !== "undefined") {
                        if ($("#los").attr("data-href").length === 0) {
                            $("#los").attr("href", url + match[2]);
                        } else {
                            $("#los").attr("href", $("#los").attr("data-href") + encodeURIComponent(url + match[2]));
                        }
                        $("#los").removeClass("disabled");       
                    } else {
                        $("#los").attr("href", "#");
                        $("#los").addClass("disabled");
                    }
                }
                // see https://stackoverflow.com/questions/2450954/how-to-randomize-shuffle-a-javascript-array
                function shuffle(array) {
                    let currentIndex = array[ 'items'].length, randomIndex;
                    // While there remain elements to shuffle.
                    while (currentIndex != 0) {
                        // Pick a remaining element.
                        randomIndex = Math.floor(Math.random() * currentIndex);
                        currentIndex--;
                        // And swap it with the current element.
                        [array[ 'items'][currentIndex], array[ 'items'][randomIndex]] =[
                        array[ 'items'][randomIndex], array[ 'items'][currentIndex]];
                    }
                    return array;
                }
                
                $("#mylistgroupitems").html(Mustache.render(template, shuffle(items)));
                
                $(".dropdown-menu li a").click(function () {
                    $(".btn:first-child").text($(this).text());
                    $(".btn:first-child").val($(this).text());
                    $("#los").attr("data-href", $(this).attr("data-href"));
                    valueChanged();
                });
                
                $('#input').on('input', function () {
                    valueChanged();
                });
                
                $('#input').on('keydown', function (e) {
                    if (e.which === 13 && ! $("#los").hasClass("disabled")) {
                        window.open($("#los").attr("href"), '_blank');
                    }
                });
                
                $('.list-group-item').click(function (e) {
                    e.preventDefault();
                    $('#input').val($(this).attr("href"));
                    valueChanged();
                    window.scrollTo({
                        top: 0, behavior: 'smooth'
                    });
                });
            });</script>
    </body>
</html>
