<!doctype html>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" rel="stylesheet">
        <title>Deutsche Digitale Bibliothek | IIIF Presentation API 3.0-Manifeste</title>
        <style>
            body {
                background: #EC0A3C;
                background: linear-gradient(276.83deg, #EC0A3C, #A5003B);
                min-height: 100vh;
            }
            .form-control::placeholder {
                color: #ccc;
            
            }
            .image-parent {
                max-height: 80px;
            }</style>
        <link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" referrerpolicy="no-referrer" rel="stylesheet" />
    </head>
    <body>
        <div class="container">
            <!-- For demo purpose -->
            <div class="row py-5">
                <div class="col-lg-9 mx-auto text-white text-center">
                    <h1 class="display-4">IIIF Presentation API 3.0</h1>
                    <p class="lead mb-0">Mit diesem Dienst können DDB-Objekte zu IIIF Presentation API 3.0-Manifeste umgewandelt werden.</p>
                    <p class="lead">Implementierung auf <a class="text-white" href="https://github.com/mbuechner/iiif" target="_blank"><u>GitHub</u></a>. </p>
                </div>
            </div>
            <!-- End -->
            <div class="row mb-5">
                <div class="p-1 bg-light rounded shadow-sm mb-4">
                    <div class="input-group">
                        <button aria-expanded="false" class="btn btn-light dropdown-toggle rounded-start col col-12 col-xl-3 mx-auto" data-bs-toggle="dropdown" id="displayType" type="button">IIIF Presentation API 3.0 Manifest</button>
                        <ul class="dropdown-menu dropdown-menu-start col col-12 col-xl-3 mx-auto" id="displayTypeDropdown">
                            <li>
                                <a class="dropdown-item" data-href="">IIIF Presentation API 3.0 Manifest</a>
                            </li>
                            <li>
                                <a class="dropdown-item" data-href="https://projectmirador.org/embed/?iiif-content=">Mirador 3</a>
                            </li>
                            <li>
                                <a class="dropdown-item" data-href="https://uv-v4.netlify.app/#?manifest=">Universal Viewer 4</a>
                            </li>
                            <li>
                                <a class="dropdown-item" data-href="https://presentation-validator.iiif.io/validate?version=3.0&amp;url=">Presentation API Validator</a>
                            </li>
                        </ul>
                        <input aria-label="Text input with dropdown button" class="form-control col col-12 col-xl-8 mx-auto" id="input" placeholder="https://www.deutsche-digitale-bibliothek.de/item/CRHMM44XWLG7ZNH55BQ5GSAHTYLXJ7Z4" type="text">
                        <a class="btn bg-light rounded-end disabled col col-12 col-xl-1 mx-auto" data-href="" href="#" id="los" role="button" target="_blank">Los!</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-xl-8 mx-auto">
                    <div class="list-group">
                        <div id="mylistgroupitems"></div>
                    </div>
                </div>
            </div>
        </div>
        <script crossorigin="anonymous" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
        <script crossorigin="anonymous" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
        <script crossorigin="anonymous" integrity="sha512-HYiNpwSxYuji84SQbCU5m9kHEsRqwWypXgJMBtbRSumlx1iBB6QaxgEBZHSHEGM+fKyCX/3Kb5V5jeVXm0OglQ==" src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/4.1.0/mustache.min.js"></script>
        <script>
            const items = {
                items:[ {
                    title: "Inv. 01451 + P.Michael. 52, Köln, Papyrussammlung", link: "NIHZBW7QZS352TCBKRUQPXPO2LGFSFJN", text: "Zwei hochaufgelöste Fotos aus der Papyrussammlung.", uuid: "a318e30e-3934-4c6b-94b9-2e2daf8cc3e4"
                }, {
                    title: "Flöte", link: "UT7QCBPP626TE3HTJDMJN7HVJ22IUEEO", text: "Sechs hochaufgelöste Fotos einer Flöte.", uuid: "c6f53bd0-2f2a-4f24-a9b3-f7f812135c65"
                }, {
                    title: "Träume / von Richard Wagner", link: "7PQO65ASPKENCHEOMMQLLE3INGF5NRYV", text: "Zwei Audiodateien mit Schallplattencover. Die Cover werden in der DDB nicht extra angezeigt und als Platzhalterbild für die Audio-Dateien benutzt.", uuid: "5e8456a1-cf17-4d78-8a17-02bca068ab94"
                }, {
                    title: "Julius Neubronner zaubert", link: "UODH7ABRU3KEFW4W3LTX2EYKOD6UKANO", text: "Ein Video. Das Video hat zusätzlich ein Still, das in den IIIF-Manifesten und im Gegensatz zum DDB-Portal angezeigt wird. Der Universal Viewer benötigt zwingen die Spieldauer eines Videos. Diese Information kann von der DDB nicht zur Verfügung gestellt werden, entsprechend funktioniert die Anzeige von Video/ Audio im Universal-Viewer nicht korrekt.", uuid: "937976e0-5072-4f18-9fb0-4c19cf99041d"
                }, {
                    title: "Drehbuch (2. Fassung, Auszug), mit handschriftlichen Korrekturen von Artur Brauner.", status: "warning", link: "D6EKHXZC454ZLGAURLN6T5O7WBEEQRI3", text: "Eine PDF-Datei mit Vorschaubild. PDFs werden aktuell nur vom Universal Viewer unterstützt. Der Mirador 3 Viewer zeigt lediglich eine weiße Seite an.", uuid: "2695e3da-a40a-4a09-b8b1-2f5b23e0f93b"
                }, {
                    title: "Vermögensverzeichnis und Übergabe der Eva Herrmann, Witwe des gewesenen Bürgers aus Feudenheim Georg Herrmann, an ihre fünf großjährigen Töchter", link: "LZTFOTG63KTPINGRL6ZNYTU3YBBR5HNT", text: "Eine 24-seitige Archivalie.", uuid: "63af9bfc-66de-4892-a1de-e3e7a9e54bc4"
                }, {
                    title: "Rad (2001)", status: "danger", link: "F3WJONMF6NXB3IJQLRYV5LR67KDPMQTA", text: "Vimeo-Videos können in IIIF nicht repräsentiert werden. Entsprechend zeigt keiner der Viewer diese an.", uuid: "70f8f639-6689-41a4-9542-83a866d155ca"
                }, {
                    title: "Auriga (1967), Frachtschiff, Argo Reederei Richard Adler & Söhne, Bremen, Bau-Nr. 1140", link: "TTNVQWVXY3AKILUHHULXB5H2ZHZGEKOO", text: "Ein hochaufgelöstes Digitalisat aus der Peter Tamm Sen. Stiftung.", uuid: "410f4523-0424-4d38-a692-3f68fda5a5d5"
                }, {
                    title: "Der Schimmelreiter oder Unsere Welt vom Ende her denken", link: "QCWBCVL6F64T6PHGAUCIFC57CWUC7YXV", text: "Eine Bild-, eine Video- und sechs Audio-Dateien.", uuid: "b8f008da-77c0-4361-939e-dcb59e53e5f5"
                }]
            };
            
            const template = ' \
            {{#items}} \
            <a class="list-group-item {{#status}}list-group-item-{{status}} {{/status}}d-flex justify-content-between align-items-center" href="https://www.deutsche-digitale-bibliothek.de/item/{{link}}"> \
            <div> \
            <div class="fw-bold">{{title}}</div> \
            <div class="text-muted small">https://www.deutsche-digitale-bibliothek.de/item/{{link}}<br>{{text}}</div> \
            </div> \
            <img alt="quixote" class="img-fluid image-parent" src="https://iiif.deutsche-digitale-bibliothek.de/image/2/{{uuid}}/full/!116,87/0/default.jpg"> \
            </a> \
            {{/items}}';
            
            $(document).ready(function () {
                function valueChanged() {
                    const url = window.location.href.endsWith("/") ? window.location.href: window.location.href + "/";
                    const string = $("#input").val();
                    const regexp = new RegExp("https:\/\/www\.deutsche-digitale-bibliothek\.de\/item\/([ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789]{32})", "g");
                    const match = regexp.exec(string);
                    if (match !== null && match[1] !== null) {
                        if ($("#los").attr("data-href").length === 0) {
                            $("#los").attr("href", url + match[1]);
                        } else {
                            $("#los").attr("href", $("#los").attr("data-href") + encodeURIComponent(url + match[1]));
                        }
                        $("#los").removeClass("disabled");
                    } else {
                        $("#los").attr("href", "#");
                        $("#los").addClass("disabled");
                    }
                }
                // see https://stackoverflow.com/questions/2450954/how-to-randomize-shuffle-a-javascript-array
                function shuffle(array) {
                    let currentIndex = array[ 'items'].length, randomIndex;
                    // While there remain elements to shuffle.
                    while (currentIndex != 0) {
                        // Pick a remaining element.
                        randomIndex = Math.floor(Math.random() * currentIndex);
                        currentIndex--;
                        // And swap it with the current element.
                        [array[ 'items'][currentIndex], array[ 'items'][randomIndex]] =[
                        array[ 'items'][randomIndex], array[ 'items'][currentIndex]];
                    }
                    return array;
                }
                
                $("#mylistgroupitems").html(Mustache.render(template, shuffle(items)));
                
                $(".dropdown-menu li a").click(function () {
                    $(".btn:first-child").text($(this).text());
                    $(".btn:first-child").val($(this).text());
                    $("#los").attr("data-href", $(this).attr("data-href"));
                    valueChanged();
                });
                
                $('#input').on('input', function () {
                    valueChanged();
                });
                
                $('#input').on('keydown', function (e) {
                    if (e.which === 13 && ! $("#los").hasClass("disabled")) {
                        window.open($("#los").attr("href"), '_blank');
                    }
                });
                
                $('.list-group-item').click(function (e) {
                    e.preventDefault();
                    $('#input').val($(this).attr("href"));
                    valueChanged();
                });
            });</script>
    </body>
</html>
